<html>
<head>
<title>Weather</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

<style>
    header{
        padding:2vw;
        margin-right:16px;
    }
    header a{
        color:#686565;
        margin-right:16px;
        text-decoration: none;
        font-size: medium;
        cursor:pointer;
    }
    header a:hover{
        text-decoration: none;
    }
</style>
</head>
<body>
<header >
        <h2 style="font-family:'Times New Roman', Times, serif;font-size:60px">{{title}} </h2>
<a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>
</body>
</html>
